<ion-content [fullscreen]="true">

  <!-- Login Page -->
  <div class="container"  *ngIf="screen == 'signin'">
    <h1 class="heading">👋 Bienvenido<br><br></h1>
    <p class="para">inicia sesión para continuar!</p>
    <form [formGroup]="formData">
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Email </legend>
          <ion-input formControlName="email" type="email" placeholder="name@domain.com"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Password</legend>
          <ion-input formControlName="password" type="password" placeholder="*******"></ion-input>
        </fieldset>
      </ion-item>
      <p class="forget-text"><a >Olvidaste tu contraseña?</a></p>
      <p class="signup-text"><a >Registrarme</a></p>
      <ion-button class="login-button" (click)="login()" expand="block">Iniciar Sesiòn</ion-button>
    </form>
  </div>


</ion-content>
<ion-footer color="white">
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>

