.filter-container{
  padding: 1rem;
  overflow: auto;
}
.title{
font-size: 15px;
}
.filter-item{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.closeModal{
  align-items: end;
  justify-content: end;
}
